---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Yuxi Qian
  </div>
  <div class="inline opacity-75">
    Built with <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a> and hosted on
    <a href="https://pages.github.com/" target="_blank" class="font-bold">GitHub Pages</a>.
  </div>
</footer>
<style></style>
